@model MVCNoteMarketPlace.Models.User

@{
    Layout = null;
}


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 ,user-scalable=no">
    <title>SignUp</title>

    <!-- Favicon-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/forgotpassword.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!--Home-->
    <section id="home">
        <!--Background Image-->
        <div class="home-bg-image">

        </div>

        <!--Home content-->
        <img src="/img/top-logo.png" alt="logo" class="login-img-forgotpass">
        <div class="container">
            <div class="row justify-content-center">
                <div class=" col-md-offset-3 col-sm-6 col-md-5">
                    @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @class = "form-container" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="login-1">
                            <div class="heading-01 text-center">
                                <h2>Signup</h2>
                            </div>
                        </div>
                        <p class="text-center" style="color: forestgreen">@ViewBag.message</p>
                        if (ViewBag.Status == true)
                        {
                            <p class="success-msg"><i class="fas fa-check-circle"></i> Your account has been successfully created </p>
                        }
                        else
                        {

                            <p>@ViewBag.Message</p>
                        }
                        <div class="form-group email-flid">
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "titles" })
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control InputEmail1", @id = "InputEmail3", @placeholder = "Enter your first name" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group email-flid">
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "titles" })
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control InputEmail1", @id = "InputEmail3", @placeholder = "Enter your last name" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group email-flid">
                            @Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "titles" })
                            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control InputEmail1", @id = "InputEmail3", @placeholder = "Enter your email address" } })
                            @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group email-flid">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "titles" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control InputEmail1", @id = "InputEmail3", @placeholder = "Enter your password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group email-flid">
                            @Html.LabelFor(model => model.Confirmpassword, htmlAttributes: new { @class = "titles" })
                            @Html.EditorFor(model => model.Confirmpassword, new { htmlAttributes = new { @class = "form-control InputEmail1", @id = "InputEmail3", @placeholder = "Enter your confirm password" } })
                            @Html.ValidationMessageFor(model => model.Confirmpassword, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" value="Submit" class="btn btn-lg btn-block login-btn" data-target="#myModal" data-toggle="modal">
                        <div id="login-end">
                            <div class="titles text-center">Already have an account? <a href="Sign Up.html" style="color: #6255a5;">Login</a></div>
                        </div>
                    }
                </div>
            </div>
        </div>


    </section>
    <!--Home Ends-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/css/bootstrap.min.css"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/script.js"></script>


</body>

</html>

